$grid-width: 1000px;
$grid-height: 400px;

.cells-grid {
  // background-color: #F5F5F5;
  background-color: red;
  border-radius: 2px;
  width: $grid-width;
  height: $grid-height;
  line-height:0;
}
