$cell-width: 21px;
$cell-height: 21px;
$cell-margin: 2px;

.cell {
  display: inline-block;
  width: $cell-width;
  height: $cell-height;
  margin: $cell-margin;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &.editable {
    &:hover {
      opacity: 0.6;
      cursor: pointer;
      cursor: hand;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }

  &.alive {
    background-color: #388E3C;
  }

  &.dead {
    background-color: #9E9E9E;
  }
}
